
        @import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap");

        body {
            font-family: "Chakra Petch", sans-serif;
        }

        .carousel__wrapper {
            padding: 20px;
        }

        .carousel__content {
            max-width: 1200px;
            margin: 0 auto;
            position: relative;
        }

        .carousel__container {
            overflow-x: scroll;
            overflow-y: hidden;
            display: flex;
            align-items: center;
            height: 100%;
            -webkit-overflow-scrolling: touch;
            scroll-behavior: smooth;
        }

        .carousel__container::-webkit-scrollbar {
            display: none;
        }

        .carousel__slide {
            min-width: 90%;
        }

        .card__description {
            display: flex;
            column-gap: 10px;
            align-items: center;
        }

        .card__description img {
            width: 20px;
        }

        .card__description span {
            padding: 5px 15px;
            border-radius: 5px;
            color: #fff;
        }

        .card__description span.fire {
            background-color: orange;
        }

        .card__description span.psychic {
            background-color: rgb(146, 100, 108);
        }

        .card__description span.electric {
            background-color: rgb(231, 210, 88);
        }

        .card__description span.rock {
            background-color: rgb(114, 102, 32);
        }

        .card__description span.grass {
            background-color: rgb(32, 114, 69);
        }

        .card__inner {
            box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 15px;
            flex-direction: column;
            row-gap: 0.5rem;
            height: 300px;
            border-radius: 15px;
            background-color: #fff;
            padding: 2rem 4rem;
        }

        .card__inner h4 {
            font-size: 1.5rem;
            margin: 0;
            color: rgb(170, 155, 155);
        }

        .card__image img {
            max-height: 150px;
            margin-bottom: 1rem;
        }

        .arrow {
            display: none;
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            top: calc(50% - 10px);
            background-color: rgba(3, 101, 214, 0.664);
            padding: 5px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .arrow i {
            font-size: 1.5rem;
            color: #fff;
        }

        .arrow.arrow--right {
            right: 0%;
        }

        .arrow.arrow--left {
            left: 0%;
        }

        @media screen and (min-width: 1180px) {
            .carousel__wrapper {
                padding: 50px;
            }

            .carousel__slide {
                min-width: 33.33%;
                scroll-snap-align: center;
                position: relative;
            }

            .arrow {
                display: flex;
            }
        }
